* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #1f1f1f;
}

span {
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

#mainContainer {
  /* margin: 20 0 20 0; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
#txtTime {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  color: rgb(0, 231, 39);
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 5px;
}
#time {
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
